/* Coolors Exported Palette - coolors.co/084c61-28afb0-0b62ae-4c212a-01172f */

/* HSL */
$color1: hsla(194%, 85%, 21%, 1);
$color2: hsla(180%, 63%, 42%, 1);
$color3: hsla(208%, 88%, 36%, 1);
$color4: hsla(347%, 39%, 21%, 1);
$color5: hsla(211%, 96%, 9%, 1);

/* RGB */
$color1: rgba(8, 76, 97, 1);
$color2: rgba(40, 175, 176, 1);
$color3: rgba(11, 98, 174, 1);
$color4: rgba(76, 33, 42, 1);
$color5: rgba(1, 23, 47, 1);

/* color pallet 1 */
Color1 : #042746, #08457A, #0B62AE, #5491C6, #9DC0DF
Color2 : #104646, #1C7A7B, #28AFB0, #69C7C8, #A9DFDF
Color3 : #031E27, #063544, #084C61, #528290, #9CB7C0
Color4 : #1E0D11, #35171D, #4C212A, #82646A, #B7A6AA
Color5 : #1A0017, #2E0028, #420039, #7B4D74, #B399B0

/* color pallet 2 */
Color1 : #F7DC9F, #F5D284, #F3C969, #C7A556, #9B8043
Color2 : #92E4D5, #73DDC9, #55D6BE, #46B09C, #378979
Color3 : #639BCB, #377EBC, #0B62AE, #0A518F, #083F6F
Color4 : #CE5C6D, #C02E44, #B3001B, #930017, #720012
Color5 : #958195, #775D77, #593959, #492F49, #392539
